section:first-child {
    margin-top:20%;
}

.form-footer {
    font-size: 0.9em;
}

.error {
    color: var(--error-color);
    border-radius: 10px;
    padding: 2%;
    p {
        margin: 0% 3%;
    }
}
